name: CD - Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*' # Trigger on tags like v1.1.6

permissions:
  id-token: write # Required for authentication with pub.dev via OIDC

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.22.0'

      - name: Setup Dart for OIDC
        uses: dart-lang/setup-dart@v1
        
      - name: Install dependencies
        run: flutter pub get

      - name: Publish to pub.dev
        run: dart pub publish --force
